html,
body {
  margin: 0;
  padding: 0;
  background-color: lightgreen;
}

.my-api {
  display: grid;
  grid-template-rows: 3rem 1rem 4rem 3rem;
  grid-template-column: repeat(3, calc(100% / 3));
}

.my-api-name {
}
.my-api-description {
}
.my-api-auth {
}
.my-api-https {
}
